ICalcalator With Gui/TestHost/Connected Services/ServiceReference3/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:50560/Service1.svc?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:50560/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50560/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ICalcalator" />
      <xsd:import schemaLocation="http://localhost:50560/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:50560/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add2_InputMessage">
    <wsdl:part name="parameters" element="tns:Add2" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add2Response" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction2_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction2" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction2Response" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply2_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply2" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Multiply2Response" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division2_InputMessage">
    <wsdl:part name="parameters" element="tns:Division2" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Division2Response" />
  </wsdl:message>
  <wsdl:message name="ICalculator_GetValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValue" />
  </wsdl:message>
  <wsdl:message name="ICalculator_GetValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SampleMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethod" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SampleMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:SampleMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SampleMethod_GreetingFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ICalcalator" name="detail" element="q1:GreetingFault" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Add" message="tns:ICalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/AddResponse" message="tns:ICalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Subtraction" message="tns:ICalculator_Subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SubtractionResponse" message="tns:ICalculator_Subtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Multiply" message="tns:ICalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/MultiplyResponse" message="tns:ICalculator_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Division" message="tns:ICalculator_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DivisionResponse" message="tns:ICalculator_Division_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add2">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Add2" message="tns:ICalculator_Add2_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Add2Response" message="tns:ICalculator_Add2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction2">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Subtraction2" message="tns:ICalculator_Subtraction2_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Subtraction2Response" message="tns:ICalculator_Subtraction2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply2">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Multiply2" message="tns:ICalculator_Multiply2_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Multiply2Response" message="tns:ICalculator_Multiply2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division2">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Division2" message="tns:ICalculator_Division2_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/Division2Response" message="tns:ICalculator_Division2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValue">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/GetValue" message="tns:ICalculator_GetValue_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/GetValueResponse" message="tns:ICalculator_GetValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SampleMethod">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SampleMethod" message="tns:ICalculator_SampleMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/SampleMethodResponse" message="tns:ICalculator_SampleMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.contoso.com/GreetingFault" name="GreetingFaultFault" message="tns:ICalculator_SampleMethod_GreetingFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>