ICalcalator With Gui/ConsoleCalculator/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50560/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ICalcalator" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value1" nillable="true" type="q1:Complex" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value2" nillable="true" type="q2:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value1" nillable="true" type="q3:Complex" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value2" nillable="true" type="q4:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubtractionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value1" nillable="true" type="q5:Complex" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value2" nillable="true" type="q6:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultiplyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value1" nillable="true" type="q7:Complex" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ICalcalator" minOccurs="0" name="Value2" nillable="true" type="q8:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivisionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value1" type="xs:double" />
        <xs:element minOccurs="0" name="Value2" type="xs:double" />
        <xs:element minOccurs="0" name="Value3" type="xs:double" />
        <xs:element minOccurs="0" name="Value4" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtraction2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value1" type="xs:double" />
        <xs:element minOccurs="0" name="Value2" type="xs:double" />
        <xs:element minOccurs="0" name="Value3" type="xs:double" />
        <xs:element minOccurs="0" name="Value4" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtraction2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Subtraction2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value1" type="xs:double" />
        <xs:element minOccurs="0" name="Value2" type="xs:double" />
        <xs:element minOccurs="0" name="Value3" type="xs:double" />
        <xs:element minOccurs="0" name="Value4" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Multiply2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value1" type="xs:double" />
        <xs:element minOccurs="0" name="Value2" type="xs:double" />
        <xs:element minOccurs="0" name="Value3" type="xs:double" />
        <xs:element minOccurs="0" name="Value4" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Division2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Division2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>