Covid/Covid/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57075/CovidService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57075/CovidService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57075/CovidService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CovidService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICovidService_AddInfected_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInfected" />
  </wsdl:message>
  <wsdl:message name="ICovidService_AddInfected_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddInfectedResponse" />
  </wsdl:message>
  <wsdl:message name="ICovidService_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="ICovidService_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="ICovidService_GetInfected_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfected" />
  </wsdl:message>
  <wsdl:message name="ICovidService_GetInfected_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfectedResponse" />
  </wsdl:message>
  <wsdl:message name="ICovidService_GetContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContacts" />
  </wsdl:message>
  <wsdl:message name="ICovidService_GetContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsResponse" />
  </wsdl:message>
  <wsdl:message name="ICovidService_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="ICovidService_EndSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICovidService">
    <wsdl:operation name="AddInfected">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovidService/AddInfected" message="tns:ICovidService_AddInfected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovidService/AddInfectedResponse" message="tns:ICovidService_AddInfected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovidService/AddContact" message="tns:ICovidService_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovidService/AddContactResponse" message="tns:ICovidService_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInfected">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovidService/GetInfected" message="tns:ICovidService_GetInfected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovidService/GetInfectedResponse" message="tns:ICovidService_GetInfected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovidService/GetContacts" message="tns:ICovidService_GetContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovidService/GetContactsResponse" message="tns:ICovidService_GetContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ICovidService/EndSession" message="tns:ICovidService_EndSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICovidService/EndSessionResponse" message="tns:ICovidService_EndSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICovidService" type="tns:ICovidService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddInfected">
      <soap:operation soapAction="http://tempuri.org/ICovidService/AddInfected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/ICovidService/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfected">
      <soap:operation soapAction="http://tempuri.org/ICovidService/GetInfected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap:operation soapAction="http://tempuri.org/ICovidService/GetContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap:operation soapAction="http://tempuri.org/ICovidService/EndSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ICovidService" binding="tns:BasicHttpBinding_ICovidService">
      <soap:address location="http://localhost:57075/CovidService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>